* {
  margin: 0;


  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-snap-type: y mandatory;
}


header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #27345e;
  color: #b1bfff;
}

header {
  position: fixed;

  height: 70px;
  z-index: 100;
}

section {
  height: max-content;

  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
}

section:nth-of-type(1),
section:nth-of-type(1) h2 {
  background: #8aa0ff;
}

section:nth-of-type(2),
section:nth-of-type(2) h2 {
  background: #748dff;
}

section:nth-of-type(3),
section:nth-of-type(3) h2 {
  background: #6d88ff;
}

section:nth-of-type(4),
section:nth-of-type(4) h2 {
  background: #5877ff;
}
section:nth-of-type(5),
section:nth-of-type(5) h2 {
  background: #4f70ff;
}
section:nth-of-type(5),
section:nth-of-type(5) h2 {
  background: #4f70ff;
}
section:nth-of-type(6),
section:nth-of-type(6) h2 {
  background: #3b5fff;
}


h2 {
  position: sticky;
  top: 70px;
  padding: 20px;
  color: #7D6E83;
}

footer {
  height: 100px;
}

.scroll-item {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  

}

body{width:fit-content;



}



.title{


  font-size: 7rem;

 color: white;

  
}
.cap{

  text-align: center;

 
 
 
  font-size: 4rem;

  
}
.justify{
  text-align: justify;
  text-justify: inter-word;
}
.subtitle{



  font-size: 4rem;

  
}

.zoom {


  transition: 1s
  
}

.zoom:hover {
  font-size: calc(var(--initial-font-size) + 5px);
  transition: 1s
}

.f1 {

  font-size: 4rem;
  --initial-font-size: 4rem;
}
.f2 {

  font-size: 2rem;
  --initial-font-size: 2rem;
}
.f3 {

  font-size: 1rem;
  --initial-font-size: 1rem;
}

.presionable{
  cursor: pointer;

}
a{
  cursor: pointer;
}

.imagenpresionable:hover {
  cursor: pointer;
transition: 0.1s;
opacity: 70%;
transform: scale(1.1);
filter:contrast(1.5)
}
.imagenpresionable{

  transition: 0.1s;
}

.linea{

  border-right:0.04rem solid  rgb(234, 234, 234);
 
}
.lineav{

  border-top:0.04rem solid  rgb(234, 234, 234);
 
}

.bordes{

  border: 3px solid black;
}